@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");
@keyframes modalAddPortfolio {
  from {
    top: -600px;
    left: 0;
    right: 0; }
  to {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 20% auto; } }

.dark-mode {
  background: #010b13 !important;
  color: white !important; }

.light-mode {
  background: white !important;
  color: black !important; }

@media (prefers-color-scheme: dark) {
  body {
    background: #010b13;
    color: white; }
    body .container-footer {
      background: #010b13; }
    body .container-nav {
      background: #010b13; }
      body .container-nav .container-brand .logo a {
        color: white; }
      body .container-nav .container-brand a {
        color: white; }
      body .container-nav .dark-theme .container-login #logIn button {
        color: white; }
    body .container-table .table {
      color: white; }
    body .container-modallogin .form-login {
      background: #010b13;
      color: white; }
      body .container-modallogin .form-login input {
        background: #010b13;
        color: white; }
    body .container-modalbuy .form-buy {
      background: #010b13;
      color: white; }
      body .container-modalbuy .form-buy input {
        background: #010b13;
        color: white; }
    body .container-modalsell .form-sell {
      background: #010b13;
      color: white; }
      body .container-modalsell .form-sell input {
        background: #010b13;
        color: white; }
    body .container-criptoexist {
      background: #010b13; } }

@media (max-width: 780px) {
  .container-footer .container-textfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .container-footer .container-textfooter .textfooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; } }

@media (max-width: 600px) {
  .container-footer {
    flex-direction: column; }
    .container-footer .container-textfooter {
      flex-direction: row; } }

.container-nav {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 6px 16px -5px rgba(0, 0, 0, 0.89); }
  .container-nav .container-brand {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-nav .container-brand .logo {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-nav .container-brand .logo a {
        text-decoration: none;
        color: black; }
      .container-nav .container-brand .logo .logo-img {
        width: 80px; }
      .container-nav .container-brand .logo h3 {
        padding-top: 8px;
        font-weight: 700; }
    .container-nav .container-brand a {
      text-decoration: none;
      color: black; }
    .container-nav .container-brand h4 {
      font-size: 1.3em;
      font-weight: 300;
      padding: 8px 15px 0 15px; }
      .container-nav .container-brand h4:hover {
        color: #2c6c87; }
  .container-nav .dark-theme {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px; }
    .container-nav .dark-theme .container-login {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px 0 0; }
      .container-nav .dark-theme .container-login p {
        margin: 0; }
      .container-nav .dark-theme .container-login button {
        width: 100px;
        outline: none;
        background: none;
        border: 1px solid #2c6c87;
        padding: 5px;
        border-radius: 20px; }

.container-table {
  margin: 100px 30px 40px 30px; }
  .container-table .btn-add {
    background: #2c6c87;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 0 8px;
    margin: 5px; }
    .container-table .btn-add:hover {
      background: #235a71; }
  .container-table .btn-buy {
    background: #2c6c87;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 2px 8px;
    margin: 5px;
    background: #90EE90; }
    .container-table .btn-buy:hover {
      background: #235a71; }
    .container-table .btn-buy:hover {
      background: #2E8B57; }
  .container-table .btn-sell {
    background: #2c6c87;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 2px 8px;
    margin: 5px;
    background: #CD5C5C; }
    .container-table .btn-sell:hover {
      background: #235a71; }
    .container-table .btn-sell:hover {
      background: #B22222; }

.container-footer {
  position: sticky;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
  box-shadow: 0 -6px 16px -5px rgba(0, 0, 0, 0.89);
  background: white; }
  .container-footer .logo-imgfooter {
    width: 200px; }
  .container-footer .container-textfooter {
    display: flex;
    justify-content: space-around;
    width: 72%; }
    .container-footer .container-textfooter .textfooter {
      margin: 0; }
      .container-footer .container-textfooter .textfooter h5 {
        font-weight: 700;
        margin: 0; }
      .container-footer .container-textfooter .textfooter p {
        font-weight: 300; }
  .container-footer .container-socialmedias {
    display: flex; }
    .container-footer .container-socialmedias .socialmedias {
      display: flex;
      list-style: none;
      font-size: 20px;
      padding: 0 30px; }
      .container-footer .container-socialmedias .socialmedias li {
        padding: 0 10px; }
        .container-footer .container-socialmedias .socialmedias li a {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #2c6c87;
          color: white;
          text-decoration: none; }

.container-modallogin {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .container-modallogin .close-btn {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .container-modallogin .close-btn:hover, .container-modallogin .close-btn:focus {
      color: black; }
  .container-modallogin .form-login {
    position: absolute;
    top: 0;
    right: 0;
    margin: 87px 5px 0 0;
    padding: 10px;
    width: 300px;
    background: white;
    border-radius: 5px; }
    .container-modallogin .form-login p {
      font-size: 18px;
      margin: 0;
      padding-top: 12px; }
    .container-modallogin .form-login input {
      width: 100%;
      padding: 5px;
      margin: 5px 0;
      outline: none;
      border: 1px solid black; }
    .container-modallogin .form-login .container-submit {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-modallogin .form-login .container-submit input[type="submit"] {
        background: #2c6c87;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 3px;
        margin: 5px;
        width: 40%; }
        .container-modallogin .form-login .container-submit input[type="submit"]:hover {
          background: #235a71; }

.container-criptoexist {
  display: none;
  position: sticky;
  bottom: 5px;
  left: 10px;
  width: 300px;
  height: 40px;
  background: white;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0 8px; }
  .container-criptoexist .close-btn {
    color: #ccc;
    float: right;
    font-size: 30px;
    height: 25px; }
    .container-criptoexist .close-btn:hover, .container-criptoexist .close-btn:focus {
      color: black; }
  .container-criptoexist p {
    padding-top: 12px;
    width: 290px; }

.container-modalbuy {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .container-modalbuy .close-btn {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .container-modalbuy .close-btn:hover, .container-modalbuy .close-btn:focus {
      color: black; }
  .container-modalbuy .form-buy {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 20% auto;
    padding: 10px;
    width: 300px;
    background: white;
    border-radius: 5px; }
    .container-modalbuy .form-buy p {
      font-size: 18px;
      margin: 0;
      padding-top: 12px; }
    .container-modalbuy .form-buy input {
      width: 100%;
      padding: 5px;
      margin: 5px 0;
      outline: none;
      border: 1px solid black; }
    .container-modalbuy .form-buy .container-submit {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-modalbuy .form-buy .container-submit input[type="submit"] {
        background: #2c6c87;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 3px;
        margin: 5px;
        background: #90EE90;
        width: 40%; }
        .container-modalbuy .form-buy .container-submit input[type="submit"]:hover {
          background: #235a71; }
        .container-modalbuy .form-buy .container-submit input[type="submit"]:hover {
          background: #2E8B57; }

.container-modalsell {
  display: none;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); }
  .container-modalsell .close-btn {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .container-modalsell .close-btn:hover, .container-modalsell .close-btn:focus {
      color: black; }
  .container-modalsell .form-sell {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 20% auto;
    padding: 10px;
    width: 300px;
    background: white;
    border-radius: 5px; }
    .container-modalsell .form-sell p {
      font-size: 18px;
      margin: 0;
      padding-top: 12px; }
    .container-modalsell .form-sell input {
      width: 100%;
      padding: 5px;
      margin: 5px 0;
      outline: none;
      border: 1px solid black; }
    .container-modalsell .form-sell .container-submit {
      display: flex;
      justify-content: center;
      align-items: center; }
      .container-modalsell .form-sell .container-submit input[type="submit"] {
        background: #2c6c87;
        outline: none;
        border: none;
        font-size: 18px;
        padding: 3px;
        margin: 5px;
        background: #CD5C5C;
        width: 40%; }
        .container-modalsell .form-sell .container-submit input[type="submit"]:hover {
          background: #235a71; }
        .container-modalsell .form-sell .container-submit input[type="submit"]:hover {
          background: #B22222; }

.container__card {
  display: flex;
  width: 70%;
  height: 380px;
  background: #010b13;
  margin: 200px auto 0 auto;
  border-radius: 20px;
  box-shadow: 5px 22px 36px -20px rgba(0, 0, 0, 0.75); }
  .container__card .container__faq {
    flex: 50%;
    padding: 30px 60px 30px 20px; }
    .container__card .container__faq h2 {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 25px; }
    .container__card .container__faq .faq {
      border-bottom: 1px solid #e7e7e9;
      margin-bottom: 5px; }
      .container__card .container__faq .faq .faq-question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 13px;
        margin: 10px 0 15px 0;
        cursor: pointer; }
        .container__card .container__faq .faq .faq-question img {
          width: 10px;
          height: 7px;
          transition: all 0.2s ease-in; }
      .container__card .container__faq .faq .faq-answer {
        display: none; }
    .container__card .container__faq .faq.active .faq-question p {
      font-weight: 700; }
    .container__card .container__faq .faq.active .faq-question img {
      transform: rotate(180deg);
      transition: all 0.2s ease-in; }
    .container__card .container__faq .faq.active .faq-answer {
      display: block;
      font-weight: 400;
      font-size: 13px;
      color: #787887;
      margin: 0 0 10px 0; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

body {
  min-height: 100vh; }

