//  COLOR VARS

$serenity: #2c6c87;
$serenity-2: #235a71;

$light-green: #90EE90;
$sea-green: #2E8B57;

$indian-red: #CD5C5C;
$fire-brick: #B22222;

$black-knight: #010b13;


$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
$darkgrayish-bluestrong: hsl(237, 12%, 33%);
$darkgrayish-blue: hsl(240, 6%, 50%);
$lightgrayish-blue: hsl(240, 5%, 91%);