@mixin containerModals(){
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

@mixin btnDecentr($pad) {
    background: $serenity;
    outline: none;
    border: none;
    font-size: 18px;
    padding: $pad;
    margin: 5px;
    &:hover{
        background: $serenity-2;
    }
}